<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.leaf.model.note.NoteDAO">
	<insert id="writeNote" parameterType="com.leaf.model.note.NoteDTO">
		insert into note(n_id,n_content,n_title,n_send_id,n_recv_id,n_send_del_yn,n_recv_del_yn,n_write_date) values(n_id_seq.nextval,#{n_content},#{n_title},#{n_send_id},#{n_recv_id},'n','n',sysdate)
	</insert>
	
	<select id="getTeacherId" parameterType="String" resultType="String">
		select member_id from curriculum where curri_id = (select curri_id from lecture where lect_id = (select lect_id from student where member_id = #{member_id}))
	</select>
	
	<insert id="writeMulNote" parameterType="HashMap">
		<foreach collection="n_recvids_arr" index="index" item="list" open="INSERT ALL" separator=" " close="SELECT * FROM DUAL">
			into note(n_id,n_content, n_title, n_send_id, n_recv_id,n_write_date) values	(N_ID_SEQ.nextval,#{list.n_content},#{list.n_title},#{list.n_send_id},#{list.n_recv_id},sysdate)
		</foreach>
	</insert>
	
	<select id="getNoteList" parameterType="HashMap" resultType="com.leaf.model.note.NoteDTO">
		select * from (select rownum rn, n.* from (select * from note where n_recv_id = #{sessionid} order by n_id asc ) n ) where rn between #{start} and #{end} and n_recv_del_yn = 'n'
	</select>
	
	<select id="allNoteCount" parameterType="String" resultType="Integer">
		select count(*) from note where n_recv_id = #{sessionid}
	</select>
	
	<update id="noteDelete">
		update note set n_recv_del_yn = 'y' where 
		<foreach collection="list" item="item" separator="and">
			n_id = #{item}
		</foreach>
	</update>
	
	<select id="sendNoteList" parameterType="HashMap" resultType="com.leaf.model.note.NoteDTO">
		select * from (select rownum rn, n.* from (select * from note where n_send_id = #{sessionid} order by n_id asc ) n ) where rn between #{start} and #{end}
	</select>
	
	<select id="sendAllNoteCount" parameterType="String" resultType="Integer">
		select count(*) from note where n_send_id = #{sessionid}
	</select>
	
	<select id="noteContent" parameterType="Integer" resultType="com.leaf.model.note.NoteDTO">
		select * from note where n_id = #{n_id}
	</select>
	
	<update id="noteOpenUpdate">
		update note set n_open_date = sysdate
	</update>
	
	<select id="noteDelChk" resultType="com.leaf.model.note.NoteDTO">
		select n_send_del_yn, n_recv_del_yn,n_id from note
	</select>
	
	<update id="noteDeleteDB">
		delete from note where n_id = #{n_id}
	</update>
	
	<select id="selectMemberLevel" parameterType="String" resultType="com.leaf.model.member.MemberDTO">
		select member_level from member where member_id = #{sessionid}
	</select>
	
	<select id="selectTeacher" parameterType="String" resultType="com.leaf.model.member.MemberDTO">
		select member_name, member_id from member where member_id in (select member_id from curriculum where curri_id in (select curri_id from lecture where lect_id in (select lect_id from student where member_id = #{sessionid})))
	</select>
	
	<select id="selectStudent" parameterType="String" resultType="com.leaf.model.member.MemberDTO">
		select member_name, member_id from member where member_id in (select payment_member_id from payment where payment_lect_id in (select lect_id from lecture where curri_id in (select curri_id from curriculum where member_id = #{sessionid})) and payment_pay_chk = 1)
	</select>
</mapper>