<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="service.faq.model.FaqDAO">
	<select id="faqSelect" resultType="service.faq.model.FaqDTO">
	 select * from faq order by faq_id desc 
	</select>
	 
	<insert id="faqInsert" parameterType="service.faq.model.FaqDTO">
		<!-- <selectKey resultType="int" keyProperty="faq_id" order="BEFORE">
			select NVL(max(faq_id),0)+1 from faq
		</selectKey> -->
		insert into faq( faq_id, faq_title, faq_content, enabled)
		values(
		faq_seq.nextval, #{faq_title}, #{faq_content}, 1)
	</insert>

	<delete id="faqDelete" parameterType="service.faq.model.FaqDTO">
		delete from faq where
		faq_id=#{faq_id}
	</delete>
	
	<update id="faqUpdate" parameterType="service.faq.model.FaqDTO">
		update faq set faq_title = #{faq_title}, faq_content = #{faq_content}
		 where faq_id = #{faq_id}
	</update>
	
	<select id="faqSelectId" parameterType="int"
		resultType="service.faq.model.FaqDTO">
		select * from faq where faq_id = #{faq_id}
	</select>
	
		<delete id="multiqnaDelete">
		delete from faq where faq_id in
		<foreach item="item" index="index" collection="list" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<select id="searchSelect" parameterType="hashMap"
		resultType="service.faq.model.FaqDTO">
		select * from faq where ${column} like '%' || #{keyvalue} || '%'
	</select>
</mapper>