<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.leaf.model.teacher_intro.T_introDAO">
	<select id="getCount" parameterType="Integer" resultType="Integer">
      select count(*) from teacher_intro
   </select>

	<!--게시글 출력  -->
   <select id="getT_introList" resultType="com.leaf.model.teacher_intro.T_introDTO">
      select * from
      (SELECT ROWNUM NUM, t.* FROM 
                     (select * from teacher_intro order by teacher_id desc) t)
      where NUM between ((#{page}-1)*5)+1 and (#{page}*5)
   </select>

	<select id="getT_introByteacher_id" parameterType="Integer" resultType="com.leaf.model.teacher_intro.T_introDTO">
		select * from teacher_intro where teacher_id = #{teacher_id}
	</select>

<!-- 	<insert id="insertT_intro" parameterType="kr.co.academy.model.T_introDTO">
		insert into teacher_intro( teacher_id, member_id,teacher_introduce, enabled )
		values( #{teacher_id}, #{member_id}, #{teacher_introduce},1 )
	</insert> -->

<!-- 게시글 추가 -->
<insert id="insertT_intro" parameterType="com.leaf.model.teacher_intro.T_introDTO">
    <!-- 게시글 번호를 서브쿼리로 생성 -->
    INSERT INTO teacher_intro (
      teacher_id, member_id, teacher_introduce, enabled) 
      VALUES ((SELECT NVL(MAX(teacher_id)+1, 1)FROM teacher_intro), #{member_id}, #{teacher_introduce}, 1)
</insert>

<!--    <insert id="insertT_intro" parameterType="kr.co.academy.model.T_introDTO">
      <selectKey resultClass="int" keyProperty="num">
         (SELECT NVL(MAX(teacher_id)+1, 1)FROM teacher_intro
      </selectKey>
      insert into teacher_intro( teacher_id, member_id,teacher_introduce, enabled ) 
      values( #{teacher_id}, #{member_id}, #{teacher_introduce},1 )
   </insert> -->

<!-- 게시글 수정 -->
	<update id="updateT_intro" parameterType="com.leaf.model.teacher_intro.T_introDTO">
		update teacher_intro set member_id=#{member_id}, teacher_introduce=#{teacher_introduce}
		where teacher_id = #{teacher_id}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteT_intro" parameterType="com.leaf.model.teacher_intro.T_introDTO">
		delete from teacher_intro where teacher_id=#{teacher_id}
	</delete>
	<!-- 게시글 다중삭제 -->
	<delete id="multideleteT_intro" >
       delete from teacher_intro where teacher_id in
      <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
         #{item}
      </foreach>
   </delete>
   
   <!-- 게시글 검색 -->
   	<select id="searchT_introList" parameterType="hashMap" resultType="com.leaf.model.teacher_intro.T_introDTO">
		select * from teacher_intro
		<where>
			<if test="member_id != null">
					or member_id like '%' || #{keyvalue} || '%'
			</if>
		</where>
			order by teacher_id desc
	</select>

<!-- 게시글 조회 -->
  <select id="content" resultType="com.leaf.model.teacher_intro.T_introDTO">
        SELECT * FROM teacher_intro WHERE teacher_id = #{teacher_id}
    </select>


	
</mapper>
   
