<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- parameterType : 조건과 같이 입력받아야 할 데이터
resultType : 쿼리 수행 후 결과를 보내주기 위한 데이터 -->

<mapper namespace="com.leaf.model.application.AppliDAO">

	<select id="listformappli"  parameterType="Integer" resultType="com.leaf.model.application.AppliDTO">
           SELECT a.*, l.lect_charge FROM application a,lecture l where a.lect_id=l.lect_id 
    </select>
<!--     SELECT a.*, l.lect_charge, c.curri_subject FROM application a,lecture l, curriculum c where a.lect_id=l.lect_id  -->
    
	<select id="getAppliById" parameterType="String" resultType="com.leaf.model.application.AppliDTO">
	select appli_id, member_id, lect_id, appli_reciever, appli_address, appli_addnum, appli_tel,
			appli_write_time, appli_accept, enabled, appli_caution from application where appli_id=#{appli_id}
	</select>
	<select id="curri" parameterType="int" resultType="com.leaf.model.curriculum.CurriDTO">
		select curri_subject, curri_id, member_id from curriculum where curri_id=#{curri_id}
	</select>
	<select id="lect" parameterType="int" resultType="com.leaf.model.curriculum.LectDTO">
		select lect_charge, lect_id,lect_name from lecture where lect_id=#{lect_id} 
	</select>
	<select id="member" parameterType="String" resultType="com.leaf.model.member.MemberDTO">
		select member_id, member_name, member_tel, member_address, member_addnum,member_email from member where member_id=#{member_id} 
	</select> 
	<select id="teachercurri" parameterType="int" resultType="com.leaf.model.curriculum.CurriDTO">
		select member_id from curriculum where curri_id=#{curri_id}
	</select>
	<select id="teachername" parameterType="String" resultType="com.leaf.model.member.MemberDTO">
		select member_name from member where member_id=#{member_id}
	</select>

	<insert id="insertAppli" parameterType="com.leaf.model.application.AppliDTO">
	insert into application(appli_id, member_id, lect_id, appli_reciever, appli_address, appli_addnum, appli_tel,
			appli_write_time, appli_accept, enabled, appli_caution) 
	values(#{appli_id}, #{member_id}, #{lect_id}, #{appli_reciever}, #{appli_address}, 
		#{appli_addnum}, #{appli_tel}, #{appli_write_time}, 1, 1, #{appli_caution})
	</insert>
	
	<delete id="deleteAppli" parameterType="int">
		delete from application where appli_id=#{appli_id}
	</delete>
	
</mapper>